@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

#background{
  background-color:yellow;
  margin: 0px;
}



nav{

  background-color: rgba(0, 0, 0, 0.4);
  color: yellow;
  padding-bottom: 30px;
  font-family: Bebas Neue;
  font-size: 40px;
  margin-bottom: 100px;
}

#title{

  font-size: 50px;
  margin-right: 1200px; 
  font-family: Permanent Marker;
}

.bar{

  margin-right: 40px;
}

#b1{

  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width:400px;
  font-size: 50px;
  font-family: Bebas Neue;
  color:yellow;
  background-color: yellowgreen;
  border-radius: 16px;
  transition: 0.5s;
  outline: none;
  border: none;

}

#b1:hover{

  background-color: gray;
  color: lightgray;

}

#speed{
  
  text-align: center;
  font-family: Orbitron;
  font-size: 50px;
  margin-top: 100px;
  color:green;
}


#time{

  text-align: center;
  font-size: 50px;
  font-family: Orbitron;
  margin-bottom: 0px;
  color:green;

}